<div class="content-wrapper">

        <!-- Main Slider -->
    
        <div class="crumina-module crumina-module-slider container-full-width">
            <div class="swiper-container main-slider navigation-center-both-sides" data-effect="fade">
    
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide bg-1 main-slider-bg-light">
    
                        <div class="container">
                            <div class="row table-cell">
    
                                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
    
                                    <div class="slider-content align-center">
    
                                        <h1 class="slider-content-title with-decoration caveat" data-swiper-parallax="-100">
                                            Innovemos con Tecnología
    
                                            <svg class="first-decoration utouch-icon utouch-icon-arrow-left">
                                                <use xlink:href="#utouch-icon-arrow-left"></use>
                                            </svg>
    
                                            <svg class="second-decoration utouch-icon utouch-icon-arrow-left">
                                                <use xlink:href="#utouch-icon-arrow-left"></use>
                                            </svg>
    
                                        </h1>
                                        <h6 class="slider-content-text" data-swiper-parallax="-200">Somos una empresa peruana de desarrollo de software con la misión 
                                            de brindar soluciones tecnológicas innovadoras a problemas sociales de nuestro entorno.
                                        </h6>
    
                                        <div class="main-slider-btn-wrap caveat" data-swiper-parallax="-300">
    
                                            <a href="nosotros.html" class="btn btn--yellow btn--with-shadow">
                                                Leer Más
                                            </a>
    
                                            <a href="contacto.html" class="btn btn-border btn--with-shadow c-primary">
                                                Conectemos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                                        <img src="assets/img/slides1.png" alt="slider">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">
    
                        <div class="container table full-height">
                            <div class="row table-cell">
                                <div class="col-lg-6 col-sm-12 table-cell">
    
                                    <div class="slider-content align-both">
    
                                        <h2 class="slider-content-title" data-swiper-parallax="-100">Buscamos soluciones innovadoras a problemas sociales</h2>
    
                                        <h6 class="slider-content-text" data-swiper-parallax="-200">Formaremos a los mejores
                                            programadores del Perú para que puedan brindar soluciones tecnologicas escalables
                                            a los problemas que aquejan a nuestro país.
                                        </h6>
    
                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">
    
                                            <a href="nosotros.html" class="btn btn--yellow btn--with-shadow">
                                                Conoce Más
                                            </a>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="col-lg-6 col-sm-12 table-cell">
                                    <div class="slider-thumb" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                                        <img src="assets/img/slides2.png" alt="slider">
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide bg-2 main-slider-bg-light">
    
                        <div class="container table">
                            <div class="row table-cell">
    
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-content align-both">
                                        <h2 class="slider-content-title" data-swiper-parallax="-100">
                                            <span class="c-primary">Brain</span>
                                            desarrollamos experiencias a través de la tecnología
                                        </h2>
                                        <h6 class="slider-content-text" data-swiper-parallax="-200">Brindamos un servicio de programación de calidad 
                                            desde el planeamiento de la idea hasta plasmarla mediante un software escalable.
                                        </h6>
    
                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">
    
                                            <a href="servicios.html" class="btn btn--yellow btn--with-shadow">
                                                Ver Servicios
                                            </a>
    
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    
                </div>
    
                <!--Prev next buttons-->
    
                <div class="btn-prev with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                        <use xlink:href="#utouch-icon-arrow-left-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-left1">
                        <use xlink:href="#utouch-icon-arrow-left1"></use>
                    </svg>
                </div>
    
                <div class="btn-next with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                        <use xlink:href="#utouch-icon-arrow-right-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-right1">
                        <use xlink:href="#utouch-icon-arrow-right1"></use>
                    </svg>
                </div>
    
            </div>
        </div>
    
        <!-- ... end Main Slider -->
    
        <!-- Info Boxes -->
    
        <section class="medium-padding100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
    
                            <div class="info-box-image">
                                <img class="utouch-icon" src="assets/svg-icons/005-binary-code.svg" alt="smartphone">
                                <img class="cloud" src="assets/img/clouds8.png" alt="cloud">
                            </div>
    
                            <div class="info-box-content">
                                <a href="#" class="h5 info-box-title">Desarrollo de Software</a>
                                <p class="info-box-text">Creamos sistemas a medida de nuestros clientes, apoyandolos desde la idea hasta que esta se convierta en escalable.</p>
                            </div>
    
                            <a href="#" class="btn-next">
                                <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                                    <use xlink:href="#utouch-icon-arrow-right-1"></use>
                                </svg>
                                <svg class="utouch-icon utouch-icon-arrow-right1">
                                    <use xlink:href="#utouch-icon-arrow-right1"></use>
                                </svg>
                            </a>
    
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
    
                            <div class="info-box-image">
                                <img class="utouch-icon" src="assets/svg-icons/035-website.svg" alt="smartphone">
                                <img class="cloud" src="assets/img/clouds9.png" alt="cloud">
                            </div>
    
                            <div class="info-box-content">
                                <a href="#" class="h5 info-box-title">Programación Web</a>
                                <p class="info-box-text">Desarrollamos páginas web adaptables a todos los dispositivos pasando desde el diseño hasta la programación de aplicaciones web, intranets y tiendas virtuales.</p>
                            </div>
    
                            <a href="#" class="btn-next">
                                <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                                    <use xlink:href="#utouch-icon-arrow-right-1"></use>
                                </svg>
                                <svg class="utouch-icon utouch-icon-arrow-right1">
                                    <use xlink:href="#utouch-icon-arrow-right1"></use>
                                </svg>
                            </a>
    
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">
    
                            <div class="info-box-image">
                                <img class="utouch-icon" src="assets/svg-icons/025-mobile-1.svg" alt="smartphone">
                                <img class="cloud" src="assets/img/clouds10.png" alt="cloud">
                            </div>
    
                            <div class="info-box-content">
                                <a href="#" class="h5 info-box-title">Mobile Apps</a>
                                <p class="info-box-text">Desarrollamos aplicaciones moviles nativas, híbridas y generadas para Android , Windows Phone e iOS.
                                </p>
                            </div>
    
                            <a href="#" class="btn-next">
                                <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                                    <use xlink:href="#utouch-icon-arrow-right-1"></use>
                                </svg>
                                <svg class="utouch-icon utouch-icon-arrow-right1">
                                    <use xlink:href="#utouch-icon-arrow-right1"></use>
                                </svg>
                            </a>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- ... end Info Boxes -->
    
    
        <!-- Slider with vertical tabs -->
    
        <section class="crumina-module crumina-module-slider slider-tabs-vertical-line">
    
            <div class="swiper-container" data-show-items="1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide bg-primary-color bg-5" data-mh="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="slider-tabs-vertical-thumb">
                                        <img src="assets/img/slider10.png" alt="iphone" class="rounded">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="crumina-module crumina-heading custom-color c-white">
                                        <h6 class="heading-sup-title">Tecnología</h6>
                                        <h2 class="heading-title">Software</h2>
                                        <div class="heading-text">El desarrollo de software se ha convertido en una de las disciplinas más importantes en la actualidad, y se encuentra avanzando a pasos agigantados, ya que el consumo de productos software por parte de la sociedad es cada vez mayor y la necesidad de dar soluciones a problemas cotidianos con la tecnología se vuelve imprescindible...
                                        </div>
                                    </div>
    
                                    <a href="servicios.html" class="btn btn--yellow btn--with-shadow">
                                        Leer más									
                                    </a>
    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide bg-orange-light bg-6" data-mh="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="slider-tabs-vertical-thumb">
                                        <img src="assets/img/web_code_slide.png" alt="iphone" class="rounded">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="crumina-module crumina-heading custom-color c-white">
                                        <h6 class="heading-sup-title">Tecnología</h6>
                                        <h2 class="heading-title">Página Web</h2>
                                        <div class="heading-text">Es difícil imaginar una vida sin Internet y las computadoras en estos días. Usamos Internet todos los días de nuestras vidas no solo para pronosticar el clima sino también para verificar el tráfico, encontrar un trabajo y buscar restaurantes y lugares de interés, etc. De 2000 a 2015, hubo un crecimiento casi siete veces mayor en el acceso global a Internet ... 
                                        </div>
                                    </div>
    
                                    <a href="servicios.html" class="btn btn--yellow btn--with-shadow">
                                        Leer más									
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide bg-red bg-7" data-mh="slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="slider-tabs-vertical-thumb">
                                        <img src="assets/img/code2.png" alt="iphone" class="rounded">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-12 col-xs-12">
                                    <div class="crumina-module crumina-heading custom-color c-white">
                                        <h6 class="heading-sup-title">Tecnología</h6>
                                        <h2 class="heading-title">App</h2>
                                        <div class="heading-text">
                                            En definitiva, el desarrollo de aplicaciones móviles es uno de los sectores con mayor crecimiento dinámico en la industria del desarrollo de software. Muchos negocios ya se han dado cuenta de que una aplicación móvil no es solo una inversión de futuro, sino una necesidad a día de hoy, por ello, el desarrollo de aplicaciones ...
                                        </div>
                                    </div>
    
                                    <a href="servicios.html" class="btn btn--yellow btn--with-shadow">
                                        Leer más									
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="slider-slides slider-slides--vertical-line">
                    <a href="#" class="slides-item">
                        <span class="round primary"></span>01.
                    </a>
    
                    <a href="#" class="slides-item">
                        <span class="round orange"></span>02.
                    </a>
    
                    <a href="#" class="slides-item">
                        <span class="round red"></span>03.
                    </a>
    
                </div>
    
            </div>
    
        </section>
    
    
        <!-- Info Boxes -->
    
         <section class="bg-9 background-contain medium-padding120" style="margin-top:135px;"> 
            <div class="container">
                <div class="row">
                    <div class="display-flex info-boxes">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="crumina-module crumina-info-box info-box--standard-round icon-right negative-margin-right150">
                                <div class="info-box-image">
                                    <img src="assets/svg-icons/001-administrator.svg" alt="chat" class="utouch-icon">
                                </div>
                                <div class="info-box-content">
                                    <h5 class="info-box-title">Programadores calificados</h5>
                                    <p class="info-box-text">Nuestros programadores tienen claro que las personas son el pilar de cualquier sistema.
                                    </p>
                                </div>
                            </div>
    
                            <div class="crumina-module crumina-info-box info-box--standard-round icon-right negative-margin-right150">
                                <div class="info-box-image">
                                    <img src="assets/svg-icons/008-bug.svg" alt="chat" class="utouch-icon">
                                </div>
                                <div class="info-box-content">
                                    <h5 class="info-box-title">Cero Errores</h5>
                                    <p class="info-box-text">Contamos con un sistema de Testing capas de detectar todos los bugs posibles.
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-center">
                            <img class="particular-image" src="assets/img/image.png" alt="image">
                            <a href="nosotros.html" class="btn btn--red btn--with-shadow">
                                Aprende más
                            </a>
                        </div>
    
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="crumina-module crumina-info-box info-box--standard-round negative-margin-left150">
                                <div class="info-box-image">
                                    <img src="assets/svg-icons/009-cloud.svg" alt="chat" class="utouch-icon">
                                </div>
                                <div class="info-box-content">
                                    <h5 class="info-box-title">Cloud Computing</h5>
                                    <p class="info-box-text">El cloud computing es una de las apuestas clave para el crecimiento de cualquier negocio, ofreciendo a las empresas ventajas en todos sus procesos.
                                    </p>
                                </div>
                            </div>
    
                            <div class="crumina-module crumina-info-box info-box--standard-round negative-margin-left150">
                                <div class="info-box-image">
                                    <img src="assets/svg-icons/023-idea-1.svg" alt="chat" class="utouch-icon">
                                </div>
                                <div class="info-box-content">
                                    <h5 class="info-box-title">Hagamoslo Juntos</h5>
                                    <p class="info-box-text">Transparencia total y comunicación en cada etapa del proyecto de desarrollo. Juntos transformaremos su visión en un producto ganador y escalable en el mercado.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    
        <!-- ... Info Boxes -->
    
    
        <!-- Counters -->
    
        <section class="bg-secondary-color background-contain bg-10">
    
            <div class="container">
                <div class="row">
                    <div class="counters">
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                    <span data-speed="2000" data-refresh-interval="3" data-to="6237" data-from="2">6237</span>
                                </div>
                                <h5 class="counter-title">Lineas de código</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                    <span data-speed="2000" data-refresh-interval="3" data-to="4000" data-from="2">4000</span>
                                </div>
                                <h5 class="counter-title">Tazas de Café</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                    <span data-speed="2000" data-refresh-interval="3" data-to="100" data-from="2">100</span>
                                </div>
                                <h5 class="counter-title">Amanecidas</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="crumina-module crumina-counter-item">
                                <div class="counter-numbers counter c-yellow">
                                    <span data-speed="2000" data-refresh-interval="3" data-to="8000" data-from="2">8000</span>
                                </div>
                                <h5 class="counter-title">Vistas</h5>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <h5 class="c-white">Somos una agencia innovadora</h5>
                            <p class="c-semitransparent-white">Programar no es solo calcular números y letras, es todo un arte.</p>
                        </div>
    
                    </div>
                </div>
            </div>
    
        </section>
    
        <!-- ... end  Counters -->
    
        <!-- Info Boxes -->
    
        <section class="crumina-module crumina-module-slider bg-blue-lighteen background-contain bg-11 medium-padding100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Portafolio</h6>
                            <h2 class="heading-title">Socios más que Clientes</h2>
                            <p class="heading-text">A medida que los mercados se vuelven más competitivos, es más importante que nunca que su tecnología le brinde una ventaja competitiva. Las organizaciones enfrentan su cuota de desafíos en su viaje de evolución digital. Las nuevas tecnologías ofrecen nuevas posibilidades sobre dónde y cómo realizar negocios. Los clientes esperan más a medida que los competidores elevan el nivel de lo que constituye un buen servicio. Brain permite la ventaja comercial al adaptar nuevas tecnologías que se alinean con su estrategia comercial. Nuestra experiencia y nuestro probado proceso de desarrollo le aseguran que recibirá software de alta calidad a tiempo y dentro del presupuesto.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <svg class="utouch-icon utouch-icon-checked">
                                            <use xlink:href="#utouch-icon-checked"></use>
                                        </svg>
                                        <h6 class="info-box-title">Tecnología</h6>
                                    </div>
                                    <p class="info-box-text">Trabajamos con las nuevas tecnologías de programación para proporcionar soluciones altamente personalizadas, escalables e integradas para transformar digitalmente su negocio.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <svg class="utouch-icon utouch-icon-team">
                                            <use xlink:href="#utouch-icon-checked"></use>
                                        </svg>
                                        <h6 class="info-box-title">Clientes</h6>
                                    </div>
                                    <p class="info-box-text">Diseñamos soluciones web y móviles rentables en torno a los requisitos específicos del cliente. Nuestra fiabilidad nos ha convertido en el proveedor preferido para las empresas con visión de futuro en todo el Perú.</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-5 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-xs-12">
                        <div class="swiper-container pagination-bottom slider-tripple-right-image" data-show-items="1" data-effect="coverflow" data-centered-slider="false" data-stretch="170" data-depth="195">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="assets/img/medisegur_sistema.png" alt="slide">
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/img/medisegur_web.png" alt="slide">
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/img/leseco_web.png" alt="slide">
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- ... end Info Boxes -->
    
        <!-- Testimonials -->
    
        <section class="crumina-module crumina-module-slider bg-4 cloud-center navigation-center-both-sides medium-padding100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                        <div class="swiper-container" data-effect="fade">
                            <div class="swiper-wrapper">
                                <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">
    
                                    <div class="testimonial-img-author" data-swiper-parallax="-100">
                                        <img src="assets/img/elon_musk.png" alt="avatar">
                                    </div>
    
                                    <h6 class="testimonial-text" data-swiper-parallax="-300">
                                        "Para empezar en un negocio requieres dos cosas: innovar en un gran producto y tener un equipo detrás lleno de determinación e ilusión"
                                    </h6>
    
                                    <div class="author-info-wrap" data-swiper-parallax="-100">
    
                                        <div class="author-info">
                                            <a href="#" class="h6 author-name">Elon Musk</a>
                                            <div class="author-company">Cofundador de Paypal y Tesla</div>
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">
    
                                    <div class="testimonial-img-author" data-swiper-parallax="-100">
                                        <img src="assets/img/mark_zuckerberg.png" alt="avatar">
                                    </div>
    
                                    <h6 class="testimonial-text" data-swiper-parallax="-300">
                                        ¿Y si modernizamos la democracia para que todos puedan votar en internet y personalizamos la educación para que todos puedan aprender?
                                    </h6>
    
                                    <div class="author-info-wrap" data-swiper-parallax="-100">
    
                                        <div class="author-info">
                                            <a href="#" class="h6 author-name">Mark Zuckerberg</a>
                                            <div class="author-company">Fundador de Facebook</div>
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">
    
                                    <div class="testimonial-img-author" data-swiper-parallax="-100">
                                        <img src="assets/img/jack_ma.png" alt="avatar">
                                    </div>
    
                                    <h6 class="testimonial-text" data-swiper-parallax="-300">
                                            "Innumerables textos hablan del modelo Alibaba y sus logros. Pero si alguna vez escribiera mi versión, no enumeraría los éxitos sino los 1.001 errores que cometí"
                                    </h6>
    
                                    <div class="author-info-wrap" data-swiper-parallax="-100">
    
                                        <div class="author-info">
                                            <a href="#" class="h6 author-name">Jack Ma</a>
                                            <div class="author-company">Fundador de Alibaba</div>
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!--Prev next buttons-->
    
            <div class="btn-prev">
                <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                    <use xlink:href="#utouch-icon-arrow-left-1"></use>
                </svg>
                <svg class="utouch-icon utouch-icon-arrow-left1">
                    <use xlink:href="#utouch-icon-arrow-left1"></use>
                </svg>
            </div>
    
            <div class="btn-next">
                <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                    <use xlink:href="#utouch-icon-arrow-right-1"></use>
                </svg>
                <svg class="utouch-icon utouch-icon-arrow-right1">
                    <use xlink:href="#utouch-icon-arrow-right1"></use>
                </svg>
            </div>
        </section>
    
        <!-- ... end Testimonials -->
    
    
        <!-- Subscribe Form -->
    
        <section class="bg-primary-color background-contain bg-14 crumina-module crumina-module-subscribe-form">
            <div class="container">
                <div class="row">
                    <div class="subscribe-form">
                        <div class="subscribe-main-content">
                            <img class="subscribe-img" src="assets/img/subscribe-img.png" alt="image">
    
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-heading">
                                    <h2 class="heading-title">¿Amas la tecnología? Subscribete a nuestro boletín.</h2>
                                    <p class="heading-text">Enterate de lo último de la tecnología mediante noticias, tutoriales ,
                                        videos y sorteos para nuestros suscriptores.
                                    </p>
                                </div>
    
                                <form class="form-validate form-inline subscribe-form-js" method="post" action="import.php">
                                    <input name="email" placeholder="Ingresa tu correo electrónico" type="email">
                                    <button class="btn btn--red">
                                        Subscribete
                                    </button>
                                </form>
                            </div>
    
                        </div>
                        <div class="subscribe-layer"></div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- End Subscribe Form -->
    
    
        <!-- Promo Block -->
    
        <section class="background-cover bg-blue-lighteen bg-12 align-center medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Contactanos <span class="c-primary">Ahora!</span></h2>
                            <p class="heading-text">Hagamos realidad tu idea, convertamosla en un sistema funcional 
                                y escalable. Ponte en contacto con nosotros y experimenta la tecnología.
                            </p>
                        </div>
    
                        <a href="contacto.html" class="btn btn--yellow btn--with-shadow">
                            Contacto
                        </a>
    
                    </div>
                </div>
            </div>
        </section>
    
        <!-- ... end Promo Block -->
    
    </div>
